/*===============
  CTA VERSION 01
===============*/
.cta {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  isolation: isolate;
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $color-dark-secondary;
    opacity: 0.8;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    color: $color-light;
    h2 {
      color: $color-light;
    }
  }
  .video-btn {
    position: inherit;
    background-color: $color-primary;
    color: $color-light;
    margin-top: 0;
  }
  .waves-block .waves {
    top: 0;
    margin-top: -15px;
    background-color: $color-primary;
  }
}

/*===============
  CTA VERSION 02
===============*/
.ctav2 {
  overflow: hidden;
  position: relative;
  &__images {
    @media screen and (min-width: 991px){
      padding: 0;
    }
  }
  &__video {
    height: 100%;
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-dark-secondary;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: -1;
    }
    @include respond(laptop) {
      height: 450px;
      margin-top: 60px;
    }
  }
  &__content {
    padding: 80px 90px 80px 60px;
    @include respond(desktop) {
      padding: 80px 40px 80px 40px;
    }
    @include respond(laptop) {
      padding: 30px 0px 60px 0px;
      max-width: 720px;
      margin: 0 auto;
    }
    @include respond(tablet) {
      max-width: 540px;
      margin: 0 auto;
    }
    @include respond(mini) {
      text-align: center;
    }
    &--counter {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 1fr 1fr 1fr;
      &--single {
        background: $color-light;
        box-shadow: 2px 0px 15px 5px $color-shadow;
        padding: 20px;
        border-radius: 5px;
      }
      @include respond(mini) {
        display: block;
        &--single {
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  // container adjust
  @media only screen and (min-width: 1400px) {
    .container-fluid {
      padding-right: calc((100% - 1320px) / 2 + 12px);
      padding-left: 0;
    }
  }
}
.bg-one {
  .ctav2__content--counter--single {
    background-color: $color-light;
  }
}

/////  CTA 2 DARK VERSION  /////
.night-mode {
  .ctav2 {
    background-color: $color-dark-primary;
    &__content {
      &--counter {
        &--single {
          background: $color-dark-secondary;
        }
      }
    }
  }
  .bg-one {
    .ctav2__content--counter--single {
      background-color: $color-dark-secondary;
    }
  }
}
